*{
	box-sizing: border-box;
}

@media screen and (min-width: 1601px) {
	.promo {
		.container {
			max-width: 1100px;
		}
	}
	.consultation {
		.container {
			max-width: 1100px;
		}
	}
	.catalog {
		.container {
			max-width: 1100px;
		}
	}
	.feed {
		.container {
			max-width: 1100px;
		}
	}
}
@media screen and (max-width: 1600px) {
	.promo {
		.container {
			max-width: 1100px;
		}
	}
	.consultation {
		.container {
			max-width: 1100px;
		}
	}
	.catalog {
		.container {
			max-width: 1100px;
		}
	}
	.feed {
		.container {
			max-width: 1100px;
		}
	}


	.tricks {
		padding: 58px 0 60px 0;
		$parent: &;
		& .container {
			#{$parent}__wrapper {
				margin-right: unset;
				#{$parent}__icons {
					#{$parent}__icon {
						margin: 0 60px;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 1200px) {
	.header {
		display: flex;
		justify-content: space-around;
		&__logo {
			width: 230px;
		}
	}
	.promo {
		min-height: 550px;
		background-position: -210px 0px;
		background-size: cover;
		.container {
			max-width: 1000px;
		}
		&__wrapper {
			margin-right: 50px;
		}
	}
	.tricks {
		padding: 58px 0 60px 0;
		$parent: &;
		& .container {
			#{$parent}__wrapper {
				margin-right: unset;
				#{$parent}__icons {
					#{$parent}__icon {
						margin: 0 40px;
					}
				}
			}
		}
	}
	.consultation {
		&__descr {
			margin-left: 70px;
			font-size: 28px;
		}
		.feed-form {
			margin-left: 70px;
			width: 250px;
			input {
				width: 250px;
			}	
		}		
		.container {
			max-width: 1000px;
		}
		.title {
			&_left {					
			margin-left: 70px;
			font-size: 30px;
			}	
		}
					
	}
	.catalog {
		.container {
			max-width: 1100px;
		}
	}
	.feed {
		padding: 0  40px;
		
		.container {
			max-width: 1100px;
		}

	}
	.footer {
		&__info {
			width: 420px;
			height: 250px;
			padding: 40px 50px 50px 50px;
		}
	}
}

@media screen and (max-width: 991px) {
	.container {
		margin: 0 auto
	}
	.promo {
		min-height: 450px;
		background-position: -270px 0px;
		background-size: cover;
		.container {
			max-width: 800px;
		}
		&__wrapper {
			//margin-right: 220px;
			margin-right: unset;
		}
		&__header {
			font-size: 38px;
		}
		&__subheader {
			font-size: 20px;
		}
		&__icons {
			width: 410px;
		}
		.header {
			display: flex;
			justify-content: space-between;
			//width: 75%;
			margin: 0 10px 0 10px;
			&__logo {
				display: flex;
				width: 200px;
			}
			&__phone {
				font-size: 16px;
			}
			.button {
				width: 140px;
			}
		}

		.button {
			width: 230px;
		}
    }
	.tricks {
		min-height: 100px;
		padding: 40px 0 60px 0;
		margin: 0 auto;
		&__wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin-right: 0;
			padding-right: 0;
		}
		&__icons {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			&__icon {
				margin: 0 20px;
			}
		}
		&__wrapper {
			display: flex;
			margin-top: 25px;
		}
		.title {
			font-size: 25px;
			margin: 0 auto;
			text-align: center;
		}
	}
	.consultation {

		.consultation__descr {
			font-size: 24px;
			margin-left: 70px;
			
		}
		.feed-form {
			margin-left: 70px;
			width: 200px;
			input {
				width: 200px;
				height: 40px;			
			}
			.button {
				font-size: 14px;
				height: 40px;
				&__submit {
					width: 200px;
					
				}
			}					
		}		
		.container {
			max-width: 800px;
		}
		.title {
			&_left {					
				margin-left: 70px;
				font-size: 28px;
			}	
		}
	}
	.catalog { 
		padding-bottom: 40px;
		.container {
			max-width: 800px;
		}	
		&__tab {
			width: 150px;
			height: 40px;
			font-size: 16px;
			line-height: 40px;
			margin-top: 60px;
			

		}
		&__content {
			justify-content: space-around;
		}
	}
	.feed {
		.container {
			max-width: 800px;
		}
		&__item {
			margin-top: 40px;
		}
	}
	.footer {
		&__info {
			width: 350px;
			height: 220px;
			padding: 30px 20px 30px 20px;
			left: 75%;
		}
		&__addr {
		margin-bottom: 25px;
		font-size: 18px;	
		}
		&__phone {
			margin-bottom: 25px;
			font-size: 18px;
		}		
	}
	
}
	
@media screen and (max-width: 767px) {
	.promo {
		min-height: 350px;
		background-position: -300px 0px;
		background-size: cover;
		&__wrapper {
			margin-right: 30px;
		}
		&__header {
			font-size: 32px;
		}
		&__subheader {
			font-size: 19px;
		}
		.header {
			padding: 0 20px;
			&__official {
				position: absolute;
				top: 570px;
				left: 20px;
			}
			&__phone {
				font-size: 16px;
			}			
		}
		.button_main {
			width: 220px;
			font-size: 14px;
		}
	}
	.title {
		font-size: 22px;
		margin: 0 auto;
		text-align: center;
	}
	.consultation {
		.title {
			&_left {
				font-size: 22px;
				text-align: left;				
			}
		}
	}
	.catalog {
		&__tabs { 			
			margin-top: 40px;			
		}
		
	}
	.feed {
		&__item {				
			flex-direction: column;
			justify-content: center;
			align-items: center;
						
		}
		&__img {
			margin-right: 0;	
		}
		&__text {
			text-align: center;
		}
	}
	.footer {
		&__info {
			width: 300px;
			height: 190px;
			padding: 30px 20px 30px 20px;
	
		}
		&__addr {
		margin-bottom: 20px;
		font-size: 16px;	
		}
		&__phone {
			margin-bottom: 20px;
			font-size: 16px;
		}		
	}
	.modal {		
		width: 300px;
		min-height: 350px;
		input {
			width: 220px;
			min-height: 45px;	
		}
		.button {
			display: block;
			align-items: center;
			width: 220px;
			font-size: 14px;
			height: 40px;
		}
		.feed-form {
			margin-top: 5px;
		}	
	}

	
}
	
@media screen and (max-width: 576px) {
	.promo {
		min-height: 250px;
		background-position: -400px 0px;
		background-size: cover;		
		&__wrapper {
			margin-right: 10px;
			margin-top: 40px;			
		}
		&__header {
			font-size: 23px;
			margin-top: 10px; 
		}
		&__subheader {
			margin-top: 0;
			font-size: 14px;		
		}  
		&__link {
			font-size: 14px;
		}
		&__icons {
			margin-top: 20px;
		}
		.button_main {
			width: 200px;
			height: 35px;	
		}				
		&__icons{
			display: flex;
			justify-content: center;
			width: 300px;
		}
		.header {
			margin-right: 5px;
			margin-left: 5px;
			padding: 0;
			&__phone {
				font-size: 13px;		
			}
			&__logo {
				width: 175px;
			} 
			&__official {
				top: 520px;
				span {
					font-size: 16px;
				}
			}
			.button {
				cursor: none;
				width: 125px;				
			}  
		} 
	
			
	}
	.tricks {
		.title {
			font-size: 20px;
		}
		&__title {
			margin-top: 20px;
		}
		&__img {
			margin-top: 25px;
			margin-bottom: 5px;
		}
	}
	.consultation {
		$parent: &;
		& .container {
			#{$parent}__descr {				
				margin-left: 30px;
				font-size: 14px;
				margin-top: 40px;
			}
			.title {
				&_left {
					margin-left: 30px;
					font-size: 20px;
				}
			}
		}
			   
	}
	.carusel {
		padding-bottom: 30px;
	}
	.catalog  {

		&__tabs {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
		&__tab {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}
	.feed {
		.title {
			font-size: 20px;
		}
		&__descr {
			text-align: left;
		}
		&__img {
			margin-bottom: 30px;
		}
	}
	.footer {		
		&__info {
			margin-top: 70px;						
			width: 250px;
			height: 140px;
			padding: 15px 10px 15px 10px;
			border-radius: 5px;
			left: 42%;
		}
		&__addr {
			margin-bottom: 15px;
			font-size: 14px;	
		}
		&__phone {
			margin-bottom: 15px;
			font-size: 14px;			
		}
		&__social-item {			
			width: 40px;
        	height: 40px;
			img {
				height: 20px;
			}
		}
	}
	.modal {
		padding: 20px;		
		width: 240px;
		min-height: 320px;
		input {
			width: 210px;
			min-height: 40px;	
		}
		.button {
			display: block;
			align-items: center;
			width: 210px;
			font-size: 14px;
			height: 40px;
			font-size: 14px;
		}
	}	
}   

